 html {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLH8gns3ufcHQ7KzDqFbzq4mxGYhvw4ZhHkQ&usqp=CAU);
  background-size: contain;
}
body {
  border-radius: 5px;
  width: 500px;
  margin: 50px auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: solid;
  background-color: antiquewhite;
}
img {
  cursor: pointer;
}
output {
  color: green;
  font-size: 30px;
}

input {
  color: darkgreen;
  font-size: 20px;
}
